<script type="text/javascript" src="$!property.getResourcePath()/js/plugin/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="$!property.getResourcePath()/js/plugin/jquery.ztree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="$!property.getResourcePath()/js/common.js"></script>
<script type="text/javascript" src="$!property.getResourcePath()/js/macros.js"></script>
<link rel="stylesheet" type="text/css" href="$!property.getResourcePath()/js/plugin/jquery.ztree/css/metroStyle/metroStyle.css"/>
<link rel="stylesheet" type="text/css" href="$!property.getResourcePath()/css/menu/common.css">
<div class="pop-up-main">
    <div class="pop-up-main-left">
        <div class="header-toolbar ztree-header">
            <ul>
                #select($portalList,'系统选择','systemSelect')
            </ul>
        </div>
        <div class="ztree-main">
            <ul id="menuTree" class="ztree"></ul>
        </div>
    </div>
    <div class="pop-up-main-right">
    </div>
</div>
<input type="hidden" id="systemCode" value=""/>
<script>
    var setting = {
        async: {
            enable: true,
            url: "#springUrl("/menu/findMenuForZTree.ajax")",
            autoParam: ["id"],
            otherParam: ["systemCode", function () {
                return $('#systemCode').val();
            }]
        },
        view: {
            nameIsHTML: true,
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable: true,
                rootPId: 0
            }
        },
        callback: {
            onClick: zTreeOnClick
        }
    };

    $(function () {
        $('body').css({
            'width': 'auto',
            'height': 'auto'
        });
        $('.pop-up-main-left').css({
            'width': '210px'
        });
        $('.ztree-main').css({
            'height': ($('.pop-up-main-left').height() - 30) + 'px'
        });
    });
    function zTreeOnClick(event, treeId, treeNode, clickFlag) {
        if (!treeNode.isParent) {
            $('.pop-up-main-right').empty();
        } else {
            var data = {guid: treeNode.id};
            load_url("#springUrl("/menu/sortable.html")", $(".pop-up-main-right"), {data: data});
        }
    }
    function systemSelect(value) {
        $('#systemCode').val(value)
        $.fn.zTree.init($("#menuTree"), setting);
    }
</script>