<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 开启注解功能 -->
    <context:annotation-config/>
    <!-- 开启aop注解功能 -->
    <aop:aspectj-autoproxy/>
    <!-- 扫描包文件 -->
    <context:component-scan base-package="com.qi.sso.server.controller"/>
    <!-- 加载配置文件 -->
    <!--<bean id="propertyConfigurer" class="com.qi.common.database.config.datasource.DecryptPropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>file:${resources.config.path}common.properties</value>
                <value>file:${resources.config.path}QI-SSO/server.properties</value>
            </list>
        </property>
    </bean>-->
    <!-- 登录 Interceptor 配置 -->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <property name="interceptors">
            <list>
                <bean class="com.qi.common.web.interceptor.LoginInterceptor"/>
                <bean class="com.qi.common.web.interceptor.LoginUserInterceptor"/>
            </list>
        </property>
    </bean>-->
    <!-- 异常 Interceptor 配置 -->
    <bean class="com.qi.common.spring.exception.xml.GlobalExceptionResolver"/>
    <!-- velocity template configs -->
    <!--<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/view/"/>
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
                <prop key="directive.set.null.allowed">true</prop>
                <prop key="velocimacro.library">macro/macros.vm</prop>
                <prop key="eventhandler.noescape.html.match">/(?:screen_content)|(?:noescape_.*)/</prop>
            </props>
        </property>
    </bean>

    <bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml"/>
        <property name="exposeRequestAttributes" value="true"/>
        &lt;!&ndash; vm里 #set( $layout = "MyLayout.vm" ) 换其他layout &ndash;&gt;
        <property name="layoutUrl" value="layout/default.vm"/>
        <property name="order" value="1"/>
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".vm"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="resolveLazily" value="true"/>
        <property name="maxUploadSize" value="4194304"/>
        <property name="maxInMemorySize" value="4194304"/>
    </bean>

    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="1"/>
    </bean>

    <bean name="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>

    <bean class="com.qi.common.web.template.TmplFuncsImpl">
        <property name="velocityConfigurer" ref="velocityConfig"/>
    </bean>-->
</beans>