.x-panel-breadcrumb {
	height: 36px;
	background: url("../../images/tools/bg.gif") repeat-x;
}

.full-text-input {
	height: 23px;
	line-height: 23px;
	width: 212px;
	background: url("../../images/windows/breadcrumb/full-text-input.png")
		no-repeat;
	border: 0;
	padding: 0px 25px 0px 5px;
}

.full-text-input:hover {
	background:
		url("../../images/windows/breadcrumb/full-text-input-hover.png")
		no-repeat;
}

.full-text-search {
	position: absolute;
	width: 23px;
	height: 23px;
	right: 2px;
	top: 7px;
	cursor: pointer;
}

.area-left {
	background: url("../../images/windows/breadcrumb/area-left.png")
		no-repeat;
	width: 3px;
	margin-top: 1px;
	height: 23px;
	float: left;
}

.area-left-hover {
	background: url("../../images/windows/breadcrumb/area-left-hover.png")
		no-repeat;
}

.area-bg {
	background: url("../../images/windows/breadcrumb/area-bg.png") repeat-x;
	height: 23px;
	margin-top: 1px;
	width: 100%;
	padding-left: 5px;
	float: left;
}

.area-bg-hover {
	background: url("../../images/windows/breadcrumb/area-bg-hover.png")
		repeat-x;
}

.area-right {
	background: url("../../images/windows/breadcrumb/area-right.png")
		no-repeat;
	height: 23px;
	width: 26px;
	margin-top: 1px;
	float: left;
	cursor: pointer;
}

.area-right-hover {
	background: url("../../images/windows/breadcrumb/area-right-hover.png")
		no-repeat;
}

.bc-layer {
	height: 21px;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
	float: left;
	margin-top: 1px;
	border-left: 1px #EBF4FE solid;
	border-right: 1px #EBF4FE solid;
	padding: 0px 3px 0 3px;
}

.bc-layer:hover {
	background: url("../../images/windows/breadcrumb/bc-layer-hover.png")
		repeat-x;
	border-left: 1px #4F7B96 solid;
	border-right: 1px #4F7B96 solid;
}

.bc-layer-border {
	border-left: 1px #F7FBFF solid;
	border-right: 1px #F7FBFF solid;
}

.bc-layer .title {
	float: left;
	height: 21px;
	line-height: 21px;
}

.bc-layer img {
	margin-top: 5px;
	width: 11px;
	height: 11px;
}