@charset "utf-8";

/*common*/
body {
	margin: 0, 0, 0, 0;
	background: #fff;
	border: 0;
}

.x-panel {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #F7F7F7;
	border-top: 1px #DADADA solid;
	min-width: 1308px;
}

.x-panel-body {
	position: absolute !important;
	top: 8px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	border: 1px solid #a8cce9;
	border-top: 0px;
	background: #fff;
}

.x-panel-toolbar {
	height: 29px;
	background: url(../../images/windows/form/toolbar-bg.png) repeat-x;
	padding-left: 3px;
	padding-top: 4px;
}

.x-panel-toolbar .x-panel-button {
	cursor: pointer;
	height: 25px;
	line-height: 22px;
	text-align: center;
	width: 54px;
	float: left;
	margin-right: 2px;
}

.x-panel-toolbar .x-panel-button:hover {
	background: url(../../images/windows/form/button_2.png) no-repeat;
}

.x-panel-content {
	position: absolute !important;
	top: 33px;
	left: 0;
	right: 0;
	bottom: 0;
}

.x-panel-content .x-panel-scroller {
	height: 100%;
	overflow: auto;
	min-width: 1300px;
}

.fieldset-zoom {
	border: 1px #FFF solid;
	border-top: 1px #000 solid;
}

fieldset {
	margin: 20px 20px 20px 20px;
	padding: 10px 30px 10px 30px;
}

fieldset .legend-up {
	padding-left: 18px;
	cursor: pointer;
	background: url(../../images/windows/form/arrow_up.gif) no-repeat left;
}

fieldset .legend-up:hover {
	padding-left: 18px;
	cursor: pointer;
	background: url(../../images/windows/form/arrow_up_hover.gif) no-repeat
		left;
}

fieldset .legend-down {
	padding-left: 18px;
	cursor: pointer;
	background: url(../../images/windows/form/arrow_down.gif) no-repeat left;
}

fieldset .legend-down:hover {
	padding-left: 18px;
	cursor: pointer;
	background: url(../../images/windows/form/arrow_down_hover.gif)
		no-repeat left;
}

fieldset table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

fieldset table th {
	width: 145px;
	text-align: right;
	font-weight: normal;
	height: 35px;
	padding-bottom: 5px;
	vertical-align: bottom;
	border-bottom: 1px #A0AFC3 dotted;
}

fieldset table .desc {
	vertical-align: top;
	padding-top: 18px;
}

fieldset table td {
	width: 509px;
	text-align: left;
	padding-bottom: 5px;
	vertical-align: bottom;
	border-bottom: 1px #A0AFC3 dotted;
}

fieldset table td p {
	width: 450px;
}