<div class="body-main">
    <div class="breadcrumbs">
        <span>基础设置</span>
        <span class="breadcrumbs-split">></span>
        <span><a href="javascript:void(0);" onclick="goBack();">$!breadcrumbs</a></span>
        <span class="breadcrumbs-split">></span>
        <span class="breadcrumbs-text">新增$!breadcrumbs</span>
    </div>
    <main class="main-content">
        <form id="save_form" method="post" class="main-content-form">
            <input type="hidden" name="optionstype" value="$!optionstype"/>
            <input type="hidden" name="guid" value="$!model.guid">
            <div class="form-group">
                <div class="group-block">
                    <label>日期间隔类别</label>
                    <div class="form-input-multi">
                        <input type="hidden" name="intervaltype" value="$!model.intervaltype">
                        <input class="add-on-only" type="text" name="interval" placeholder="请选择日期间隔类别" value="$!interval"/>
                        #select($dateType,'input-select','selectChanges')
                    </div>
                    <li class="i-must"></li>
                </div>
                <div class="group-block">
                    <label>抄表日期间隔</label>
                    <div class="form-input-ipt">
                        <input type="text" name="intervaldate" placeholder="请输抄表日期间隔" value="$!model.intervaldate"/>
                    </div>
                    <li class="i-must"></li>
                </div>
            </div>
            <div class="form-group">
                <div class="group-block">
                    <label>抄表员</label>
                    <div class="form-input-ipt">
                        <input type="text" name="employe" placeholder="请输入抄表员" value="$!model.employe"/>
                    </div>
                    <li class="i-must"></li>
                </div>
            </div>
            <div class="form-group">
                <div class="group-block">
                    <label>用量级别</label>
                    <div class="form-input-ipt">
                        <input type="text" name="grade" placeholder="请输入用量级别" value="$!model.grade"/>
                    </div>
                    <li class="i-must"></li>
                </div>
            </div>
            <div class="form-group">
                <div class="group-block">
                    <label>可用量</label>
                    <div class="form-input-ipt">
                        <input type="text" name="quantity" placeholder="请输入可用量" value="$!model.quantity"/>
                    </div>
                    <li class="i-must"></li>
                </div>
                <div class="group-block">
                    <label>可用量修正</label>
                    <div class="form-input-ipt">
                        <input type="text" name="amend" placeholder="请输入可用量修正" value="$!model.amend"/>
                    </div>
                    <li class="i-must"></li>
                </div>
            </div>
            <div class="form-group">
                <div class="group-block">
                    <label>$priceone</label>
                    <div class="form-input-ipt">
                        <input type="text" name="priceone" placeholder="请输入用水单价" value="$!model.priceone"/>
                    </div>
                    <li class="i-must"></li>
                </div>
                #if($!optionstype != 'Gas')
                    <div class="group-block">
                        <label>$pricetwo</label>
                        <div class="form-input-ipt">
                            <input type="text" name="pricetwo" placeholder="请输入排水收费标准" value="$!model.pricetwo"/>
                        </div>
                        <li class="i-must"></li>
                    </div>
                #end
            </div>
            #if($!optionstype == 'Water')
                <div class="form-group">
                    <div class="group-block">
                        <label>排水计算(%)</label>
                        <div class="form-input-ipt">
                            <input type="text" name="formula" placeholder="请输入排水收费标准" value="$!model.formula"/>
                        </div>
                        <li class="i-must"></li>
                    </div>
                </div>
            #end
        </form>
        <div class="main-button">
            <ul>
                <li class="button-separator button-green">
                    <a href="javascript:void(0);" onclick="submit();">确&nbsp;定</a>
                </li>
                <li class="button-separator">
                    <a href="javascript:void(0);" onclick="goBack();">取&nbsp;消</a>
                </li>
            </ul>
        </div>
    </main>
</div>
<script>
    function selectChanges(value, key) {
        $('input[name="intervaltype"]').val(value);
        $('input[name="interval"]').val(key);
    }
    function goBack() {
        window.location.href = "#springUrl("/options/index.html")?optionstype=" + $('input[name="optionstype"]').val();
    }
    function initVerify() {
        $("#save_form").validate({
            ignore: true,
            rules: {
                interval: {
                    required: true
                },
                intervaldate: {
                    required: true,
                    number: true
                },
                employe: {
                    required: true
                },
                grade: {
                    required: true,
                    number: true,
                    remote: {
                        url: "#springUrl('/options/checkUnique.ajax')",
                        type: "post",
                        dataType: "json",
                        data: {
                            guid: function () {
                                return $('input[name="guid"]').val();
                            },
                            grade: function () {
                                return $(':input[name="grade"]').val();
                            },
                            optionstype: function () {
                                return $(':input[name="optionstype"]').val();
                            }
                        }
                    }
                },
                quantity: {
                    required: true,
                    number: true
                },
                priceone: {
                    required: true
                },
                pricetwo: {
                    required: true
                },
                formula: {
                    required: true
                }
            },
            success: function (element) {
            },
            errorPlacement: function (error, element) {
                $(element).parent().next('.i-must').html(error[0].innerHTML);
            }

        });
    }
    function submit() {
        if (!$("#save_form").valid())return false;
        var formParams = $("#save_form").serializeJson();
        var opt = {contentType: "application/x-www-form-urlencoded"};
        ajax_action("#springUrl("/options/save.ajax")", formParams, opt, function (data) {
            if (!data.success) {
                alert(data.messages);
            } else {
                alert(data.messages, function () {
                    goBack();
                });
            }
        })
    }
    $(function () {
    ## 表单验证绑定
        initVerify();
    });
</script>