<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean name="PortalProvider" class="com.qi.menu.rpc.hessian.provider.PortalProvider"/>

    <bean name="/PortalAPIService" class="org.springframework.remoting.caucho.HessianServiceExporter">
        <property name="service" ref="PortalProvider"/>
        <property name="serviceInterface" value="com.qi.menu.rpc.inf.PortalAPI"/>
    </bean>

    <bean name="RegisterProvider" class="com.qi.menu.rpc.hessian.provider.RegisterProvider"/>

    <bean name="/RegisterAPIService" class="org.springframework.remoting.caucho.HessianServiceExporter">
        <property name="service" ref="RegisterProvider"/>
        <property name="serviceInterface" value="com.qi.menu.rpc.inf.RegisterAPI"/>
    </bean>

</beans>