<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- th:replace -->
<div th:fragment="htmlBreadcrumb" class="breadcrumbs">
    <span th:each="var, userStat : ${breadcrumb}">
        <span th:if="${var.value} == ''" th:text="*{var.key}"></span>
        <a th:if="${var.value} != ''" th:href="${#httpServletRequest.getContextPath()} + *{var.value}" th:text="*{var.key}"
           class="breadcrumbs-text"></a>
        <span th:if="${userStat.index + 1 &lt; #maps.size(breadcrumb)}" class="breadcrumbs-split">></span>
    </span>
</div>
<!-- th:replace -->
<li th:fragment="htmlSearch" class="toolbar-separator toolbar-input">
    <div class="toolbar-input-ipt">
        <input type="text" id="fullText" placeholder="搜索" onkeyup="search(event);"/>
        <span class="input-icon-button" hidefocus="hidefocus" onclick="fullClick(this);">
            <b class="ipt-icon ipt-icon-search"></b>
        </span>
    </div>
</li>
<!-- th:replace -->
<main th:fragment="htmlPagingGrid(target, form)" class="main-content"
      th:id="${#strings.substring(target, #strings.indexOf(target, '#') + 1, #strings.length(target))}">
    <table class="main-content-table">
        <thead class="table-thead">
        <tr class="table-header">
            <th class="table-cell-nbsp">&nbsp;</th>
            <th class="table-cell-check" onclick="allCheck(this);" th:if="${header.checkbox}">
                <span title="全选" role="checkbox" tabindex="0" class="ipt-chk">
                    <span class="ipt-chk-symbol">
                        <b class="ipt-icon ipt-icon-checkbox"></b>
                    </span>
                </span>
            </th>
            <th class="table-cell-title" th:each="var, userStat : ${header.title}"
                th:id="*{var.value.code}" th:title="*{var.value.title}"
                th:onclick="${var.value.sort}? 'sortGrid(this);' : ''"
                th:style="*{var.value.width != null}? 'width: ' + *{var.value.width} +'px;' : ''">
                <span th:text="*{var.value.text}"></span>
                <b th:if="*{var.value.sort}" class="ipt-icon ipt-icon-sort ipt-icon-sort-up"></b>
            </th>
        </tr>
        </thead>
        <tbody class="table-body"></tbody>
    </table>
    <script type="text/javascript" th:inline="javascript">
        // 单独选中
        function check(node) {
            var checkbox = $(node).find('span[role="checkbox"]');
            if (checkbox.attr('checked')) {
                checkbox.attr('checked', false);
                checkbox.find('.ipt-icon-checkbox').removeClass('ipt-icon-checkbox-checked');
                return false;
            } else {
                checkbox.attr('checked', true);
                checkbox.find('.ipt-icon-checkbox').addClass('ipt-icon-checkbox-checked');
                return true;
            }
        }
        // 全选操作
        function allCheck(node) {
            if (check(node))
                $(node).parent().parent().next('.table-body').find('span[role="checkbox"]').find('.ipt-icon-checkbox').addClass('ipt-icon-checkbox-checked');
            else
                $(node).parent().parent().next('.table-body').find('span[role="checkbox"]').find('.ipt-icon-checkbox').removeClass('ipt-icon-checkbox-checked');
        }
        // 行选操作
        function rowClick(node) {
            check($(node).parent().find('.table-cell-check'));
        }
        // 获取当前已经选择的行
        function getChecked() {
            return $([[${target}]]).find('.main-content-table').find('.table-body').find('span[role="checkbox"]').find('.ipt-icon-checkbox-checked');
        }
        // 鼠标悬停效果，显示按钮
        function toggleOper(node) {
            $(node).find('.table-cell-oper').toggle();
        }
        // 操作列按钮点击事件
        function operation(opt, node) {
            var guid = $(node).parent().parent().parent().find('.ipt-icon-checkbox').attr('name');
            switch (opt) {
                case 'editGrid':
                    editGrid(guid);
                    break;
                case 'deleteGrid':
                    deleteGrid(guid);
                    break;
            }
        }
        // 分页页面跳转
        function gotoPage(pageIndex) {
            var data = $([[${form}]]).serializeJson();
            data['currentPage'] = pageIndex;
            load_url($([[${form}]]).attr("action"), $([[${target}]]).find('.main-content-table').find('.table-body'), {data: data});
        }
        // 排序查询
        function sortGrid(node) {
            var sort = $(node).find('.ipt-icon-sort');
            var order = sort.hasClass('ipt-icon-sort-down');
            if (order) {
                sort.removeClass('ipt-icon-sort-down');
            } else {
                sort.addClass('ipt-icon-sort-down');
            }
            $('#orderCols').attr('name', 'orderBy[' + node.id + ']').val((!order));
            var data = buildParams();
            load_url($([[${form}]]).attr("action"), $([[${target}]]).find('.main-content-table').find('.table-body'), {data: data});
        }
        // 节点点击查询
        function gridSearch(field, text) {
            buildCondition(field, text);
            load();
        }
        // 构建查询条件
        function buildCondition(field, text) {
            var condition = $([[${form}]]).find('input[name="' + field + '"]');
            if (condition.length === 0) {
                condition = $('<input type="hidden" name="' + field + '" />');
                $([[${form}]]).append(condition);
            }
            condition.val(text)
        }
        // 根据form表单构建参数
        function buildParams() {
            var data = $([[${form}]]).serializeJson();
            var currentPage = $([[${target}]]).find('.main-content-table').find('.page-toolbar').find('.currentPage');
            if (currentPage.length > 0) {
                data['currentPage'] = currentPage.text();
            }
            return data;
        }
        // 刷新页面
        function reload() {
            $([[${target}]]).find('.main-content-table').find('.table-thead').find('.ipt-icon-sort-down').removeClass('ipt-icon-sort-down');
            $([[${form}]] + ' :input').val('');
            load_url($([[${form}]]).attr("action"), $([[${target}]]).find('.main-content-table').find('.table-body'));
        }
        function load() {
            load_url($([[${form}]]).attr("action"), $([[${target}]]).find('.main-content-table').find('.table-body'), {data: buildParams()});
        }
        $(function () {
            load_url($([[${form}]]).attr("action"), $([[${target}]]).find('.main-content-table').find('.table-body'));
        });
    </script>
</main>
</body>
</html>