<link rel="stylesheet" type="text/css" href="$!property.getResourcePath()/css/report/echarts.css">
<script type="text/javascript" src="$!property.getResourcePath()/js/plugin/echarts/echarts.min.js"></script>
<script type="text/javascript" src="$!property.getResourcePath()/js/plugin/echarts/theme/dark.js"></script>
<div class="body-main" tabindex="0" hidefocus="true">
    <div class="breadcrumbs">
        <span class="breadcrumbs-text">数据分析</span>
    </div>
        <div class="echarts-main">
            <div class="echarts-report">
                <span class="echarts-report-title"></span>
                <p class="echarts-report-ipt">
                    <select onchange="pieChart(this.value)">
                        <option value="">所有年份</option>
                        #foreach($vo in $year)
                            <option value="$!{vo}">$!{vo}</option>
                        #end
                    </select>
                </p>
                <div id="pieChart" class="echarts-report-main"></div>
            </div>
            <div class="echarts-report">
                <span class="echarts-report-title"></span>
                <p class="echarts-report-ipt">
                    <select onchange="barChart(this.value)">
                        #foreach($vo in $year)
                            <option value="$!{vo}" #if($currentYear == $vo) selected #end >$!{vo}</option>
                        #end
                    </select>
                </p>
                <div id="barChart" class="echarts-report-main"></div>
            </div>
            <div class="echarts-report">
                <span class="echarts-report-title"></span>
                <p class="echarts-report-ipt">
                    <select onchange="lineChart(this.value)">
                        #foreach($vo in $year)
                            <option value="$!{vo}" #if($currentYear == $vo) selected #end >$!{vo}</option>
                        #end
                    </select>
                </p>
                <div id="lineChart" class="echarts-report-main" style="width: 1220px;"></div>
            </div>
            <div class="echarts-report">
                <span class="echarts-report-title"></span>
                <p class="echarts-report-ipt">
                    <input type="radio" value="0" id="water" name="radio1" onchange="scattergram()" checked>
                    <label for="water">水</label>
                    <input type="radio" value="1" id="electric" name="radio1" onchange="scattergram()">
                    <label for="electric">电</label>
                    <input type="radio" value="2" id="gas" name="radio1" onchange="scattergram()">
                    <label for="gas">煤</label>
                    &nbsp;&nbsp;
                    <select id="srYear" onchange="scattergram()">
                        #foreach($vo in $year)
                            <option value="$!{vo}" #if($currentYear == $vo) selected #end >$!{vo}</option>
                        #end
                    </select>
                </p>
                <div id="scattergram" class="echarts-report-main" style="width: 1220px;"></div>
            </div>
            <script type="text/javascript">
                function pieChart(v) {
                    var data = {"year": v};
                    var opt = {waiting: false};
                    ajax_action("#springUrl("/getSpendingByPie.ajax")", data, opt, function (data) {
                        echarts.init(document.getElementById('pieChart'), 'dark').setOption(data);
                    });
                }
                pieChart('$!currentYear');

                function barChart(v) {
                    var data = {"year": v};
                    var opt = {waiting: false};
                    ajax_action("#springUrl("/getBeforeYearByBar.ajax")", data, opt, function (data) {
                        echarts.init(document.getElementById('barChart'), 'dark').setOption(data);
                    });

                }
                barChart('$!currentYear');

                function lineChart(v) {
                    var data = {"year": v};
                    var opt = {waiting: false};
                    ajax_action("#springUrl("/getFullYearByLine.ajax")", data, opt, function (data) {
                        echarts.init(document.getElementById('lineChart'), 'dark').setOption(data);
                    });
                }

                lineChart('$!currentYear');

                function scattergram() {
                    var year = $('#srYear').val();
                    var type = $("input[name='radio1']:checked").val();
                    var data = {"year": year, "type": type};
                    var opt = {waiting: false};
                    ajax_action("#springUrl("/getFullYearScatterGram.ajax")", data, opt, function (data) {
                        echarts.init(document.getElementById('scattergram'), 'dark').setOption(data);
                    });
                }
                scattergram();

                $(function () {
                    $('select').val($currentYear);
                });
            </script>

        </div>
    </div>

