<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/layout :: htmlhead"></head>

<body>
<div class="body-main" tabindex="0" hidefocus="true">
    <div th:replace="macro/macro :: htmlBreadcrumb"></div>
    <header class="header-toolbar">
        <ul>
            <li>
                <a class="toolbar-button" th:href="${#httpServletRequest.getContextPath()} + '/dbconfig/added.html'">新增</a>
            </li>
            <li>
                <a class="toolbar-button" href="javascript:void(0);" onclick="batchDelete();">批量删除</a>
            </li>
            <li>
                <a class="toolbar-button" href="javascript:void(0);" onclick="ordering();">排序</a>
            </li>
            <!--#select($constants.Status.options,'状态变更','changesSelect')-->
            <!--#select($portalList,'所属系统','portalSelect')-->
        </ul>
        <ul>
            <li class="toolbar-separator">
                <a class="toolbar-button" href="javascript:void(0);" onclick="reload();">刷新</a>
            </li>
        </ul>
        <ul>
            <li th:replace="macro/macro :: htmlSearch"></li>
        </ul>
    </header>
    <form id="menu_query_form" method="post" th:action="${#httpServletRequest.getContextPath()} + '/dbconfig/queryPagination.html'"
          onsubmit="return false">
        <input type="hidden" name="status"/>
        <input type="hidden" name="fullText"/>
    </form>
    <main th:replace="macro/macro :: htmlPagingGrid('#main_content', '#menu_query_form')"></main>
</div>
<script>
    $(function () {
        $('.body-main')[0].focus();
    });
</script>
</body>
</html>