<div class="body-main" tabindex="0" hidefocus="true">
    <div class="breadcrumbs">
        <span>生活助手</span>
        <span class="breadcrumbs-split">></span>
        <span class="breadcrumbs-text">燃气费管理</span>
    </div>
    <header class="header-toolbar">
        <ul>
            <li>
                <a class="toolbar-button" href="#springUrl("/gas/added.html")">新增</a>
            </li>
            #select($!years,'年份','selectChanges')
        </ul>
        <ul>
            <li class="toolbar-separator">
                <a class="toolbar-button" href="javascript:void(0);" onclick="reload();">刷新</a>
            </li>
        </ul>
        <ul>
            <li class="toolbar-separator toolbar-input">
                #search()
            </li>
        </ul>
    </header>
    <form id="query_form" action="#springUrl("/gas/queryPagination.html")" method="post" onsubmit="return false">
        <input type="hidden" name="billdate"/>
        <input type="hidden" name="fullText"/>
    </form>
    <main id="main_content" class="main-content">
        #pagingGrid($header, 'query_form', 'main_content')
    </main>
</div>
<script>
    $(function () {
        $('.body-main')[0].focus();
    });

    function selectChanges(value){
        $('input[name="billdate"]').val(value);
        load();
    }

    ## 编辑按钮事件
    function editGrid(guid) {
        window.location.href = "#springUrl("/gas/edited.html")?guid=" + guid;
    }
    ## 删除按钮事件
    function deleteGrid(guid) {
        confirm("确认删除当前数据", function () {
            var params = {
                'guid': guid
            };
            var opt = {contentType: "application/x-www-form-urlencoded"};
            ajax_action("#springUrl("/gas/delete.ajax")", params, opt, function (data) {
                if (!data.success) {
                    alert(data.messages);
                } else {
                    alert(data.messages, function () {
                        reload();
                    });
                }
            })
        });
    }
</script>