<!--suppress ALL -->
<link rel="stylesheet" type="text/css" href="$!property.getResourcePath()/css/sso/login.css" />
<script type="text/javascript" src="$!property.getResourcePath()/js/plugin/rsa/Barrett.js"></script>
<script type="text/javascript" src="$!property.getResourcePath()/js/plugin/rsa/BigInt.js"></script>
<script type="text/javascript" src="$!property.getResourcePath()/js/plugin/rsa/RSA.js"></script>

<div class="floor">
    <!-- 主要内容 -->
    <div id="main_panel" class="main-panel">
        <form id="loginForm" method="post" autocomplete="off">
            <div class="form">
                <div class="close" title="关闭" onclick="showForm()">
                    <a href="javascript:void(0)">×</a>
                </div>
                <div class="title">
                    <img src="$!property.getResourcePath()/images/portal/login/logo.png" width="60" height="60" title="$!property.getSystemEnglish()" />
                    <span class="logo logo-eff float-right">$!property.getSystemEnglish()</span>
                </div>
                <input name="from_url" type="hidden" value="$!{from_url}" />
                <!-- 帐号 -->
                <div class="user">
                    <input type="hidden" name="account" />
                    <input type="text" id="account" placeholder="帐号" value="$!account"/>
                </div>
                <div style="margin: 5px;">&nbsp;</div>
                <!-- 密码 -->
                <div class="pass">
                    <input type="hidden" name="password" />
                    <input type="password" id="password" placeholder="密码"/>
                </div>
                <!-- 验证码
                <div class="ipt-t pass" id="veriCodeIptLine">
                    <div class="label">验证码：</div>
                    <input type="text" id="authCodeTo" style="width: 110px;" />
                    <img id="authCode" width="90" height="30" src="" onclick="javascript:getAuthCode();" title="换一张" class="cursor-pointer"/>
                    <label id="codePlaceholder">
                        输入验证码
                    </label>
                </div>-->
                <div class="options">
                    <input class="ipt-c cursor-pointer" id="rmbUser" name="remember" type="checkbox" #if($remember)checked#end/><label class="cursor-pointer" for="rmbUser">记住帐号</label>
                    <input type="button" class="login-button" value="登 录" onclick="login();" />
                </div>
            </div>
            <!-- 分割线 -->
            <div class="ft">
                <div class="other">
                    系统选择：
                    <select class="sel" name="portal">
                        #foreach($vo in $portal.entrySet())
                            <option value="$vo.key">$vo.value.namecn</option>
                        #end
                    </select>
                    <a href="#" title="忘记密码" target="_blank" class="ext">忘记密码</a>
                </div>
            </div>
        </form>
        <div class="widget">
            <div id="warning_div" class="highlight corner-all">
                <img src="$!property.getResourcePath()/images/portal/login/warning.png" />
                <span id="warning_msg">$!messages</span>
            </div>
        </div>
    </div>
    <!-- 版权 -->
    <div class="bottom align-center" id="bar_bottom">
        <a href="javascript:void(0)" onclick="showForm()" class="float-left" title="登录">
            <img src="$!property.getResourcePath()/images/portal/icons/start.png" class="cursor-pointer" width="23" height="23"/>
        </a>
        <span class="float_right" id="clock">你瞅啥</span>
        <span>
            版权所有 张麒 未经许可不得复制、转载或摘编，违者必究! &copy; Copyright &copy; 2013.Company
        </span>
    </div>
    <!-- 主题 -->
    <div class="theme" id="theme">
        <img src="$!property.getResourcePath()/images/portal/theme/theme_4.jpg" id="themeImg" />
    </div>
</div>
<script type="text/javascript">
    /**
     * 登录方法
     */
    function login() {
        if ($.trim($('#account').val()) == '') {
            showWarning("请输入帐号");
            return;
        }
        if ($.trim($('#password').val()) == '') {
            showWarning("请输入密码");
            return;
        }
        var key = getRSAKey();
        $('input[name="account"]').val(encryptedString(key, $('#account').val()));
        $('input[name="password"]').val(encryptedString(key, $('#password').val()));
        $('#loginForm').submit();
    }

    function getRSAKey() {
        setMaxDigits(${Digits});
        return new RSAKeyPair("${Exponent}", "", "${Modulus}");
    }
</script>