<script type="text/javascript" src="$!property.getResourcePath()/js/plugin/jquery.ui/jquery-ui.min.js"></script>
<ul id="sortable">
    #foreach($v in $!result)
        <li class="ui-state-default" title="$v.dictname" id="$v.guid">
            $v.dictname
        </li>
    #end
</ul>

<script>
    $(function () {
        $('#sortable').sortable({
            update: function (event, ui) {
                var param = '';
                $(this).find('li').each(function (i) {
                    if (i != 0) param += '#';
                    param += $(this).attr('id') + ',' + i;
                });
                var formParams = {'sortable': param}
                var opt = {contentType: "application/x-www-form-urlencoded", waiting: false};
                ajax_action("#springUrl("/sortable.ajax")", formParams, opt, function (data) {
                    if (!data.success) {
                        alert(data.messages);
                    }
                })
            }
        });
        $('#sortable').disableSelection();
    });
</script>