<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!--##################################################### plugin #####################################################-->
    <!-- jQuery -->
    <script type="text/javascript" th:src="${application.static_resource} + '/js/plugin/jquery/jquery-1.11.3.min.js'"></script>
    <script type="text/javascript" th:src="${application.static_resource} + '/js/plugin/jquery/jquery.form.min.js'"></script>
    <script type="text/javascript" th:src="${application.static_resource} + '/js/plugin/jquery/jquery.cookie.js'"></script>
    <script type="text/javascript" th:src="${application.static_resource} + '/js/plugin/jquery/jquery.hotkeys.js'"></script>
    <script type="text/javascript" th:src="${application.static_resource} + '/js/plugin/jquery/jquery.serializeJson.js'"></script>
    <!-- jquery.vaildate -->
    <script type="text/javascript" th:src="${application.static_resource} + '/js/plugin/jquery.validate/jquery.validate.js'"></script>
    <script type="text/javascript" th:src="${application.static_resource} + '/js/plugin/jquery.validate/local/messages_zh.js'"></script>
    <link rel="stylesheet" type="text/css" th:href="${application.static_resource} + '/js/plugin/jquery.validate/css/jquery.validate.css'" />
    <!-- bootstrap -->
    <script type="text/javascript" th:src="${application.static_resource} + '/js/plugin/bootstrap/bootstrap.min.js'"></script>
    <script type="text/javascript" th:src="${application.static_resource} + '/js/plugin/bootstrap/datetimepicker/bootstrap-datetimepicker.min.js'"></script>
    <script type="text/javascript" th:src="${application.static_resource} + '/js/plugin/bootstrap/datetimepicker/bootstrap-datetimepicker.zh-CN.js'"></script>
    <link rel="stylesheet" type="text/css" th:href="${application.static_resource} + '/js/plugin/bootstrap/bootstrap.min.css'" />
    <link rel="stylesheet" type="text/css" th:href="${application.static_resource} + '/js/plugin/bootstrap/datetimepicker/bootstrap-datetimepicker.min.css'" />
    <!-- basic -->
    <script type="text/javascript" th:src="${application.static_resource} + '/js/common.js'"></script>
    <script type="text/javascript" th:src="${application.static_resource} + '/js/util.js'"></script>
    <script type="text/javascript" th:src="${application.static_resource} + '/js/macros.js'"></script>
    <!--##################################################### css #####################################################-->
    <!-- 全局公共css -->
    <link rel="stylesheet" type="text/css" th:href="${application.static_resource} + '/css/common.css'" />
    <!-- layout -->
    <link rel="stylesheet" type="text/css" th:href="${application.static_resource} + '/css/menu/common.css'" />
</head>
</html>
