.echarts-main {
    padding: 5px;
    margin-top: 10px;
}

.echarts-report {
    position: relative;
    float: left;
    margin: 0 10px 10px 10px;
    background-color: #F3F3F3;
}

.echarts-report .echarts-report-title {
    font-size: 16px;
    font-weight: bold;
    color: #538ec2;
    position: absolute;
    top: 6px;
    left: 10px;
}

.echarts-report .echarts-report-ipt {
    position: absolute;
    top: 6px;
    right: 20px;
    z-index: 9999;
}

.echarts-report-ipt select {
    border: 1px solid #7898b8;
    padding: 0;
    width: 75px;
}

.echarts-report .echarts-report-main {
    height: 400px;
    width: 600px;
    border: 1px solid #a3bdd0;
    padding: 30px 10px 10px 10px;
}