#macro(getRequestBase)
    #if($request.contextPath != "")$request.contextPath#end
#end

#macro(getStaticPath $path)
    #getRequestBase()/static/$path
#end

#macro(search)
<div class="toolbar-input-ipt">
    <input type="text" id="fullText" placeholder="搜索" onkeyup="search(event);"/>
    <span class="input-icon-button" hidefocus="hidefocus" onclick="fullClick(this);">
        <b class="ipt-icon ipt-icon-search"></b>
    </span>
</div>
#end

#macro(select $dataset $text $callback)
    #if($text =="input-select")
    <div class="form-input-menu" tabindex="0" hidefocus="true" onblur="hideSelect(this);">
        <div class="tree-menu-button icon-down" onclick="showSelect(this);"></div>
    #else
    <li tabindex="0" hidefocus="true" onblur="hideSelect(this);">
        <div class="toolbar-button-menu" onclick="showSelect(this);">
            $text
            <div class="toolbar-arrow"></div>
        </div>
    #end
    #if($!dataset && $!dataset.size() > 0)
        <div class="toolbar-link-menu">
            #foreach($v in $dataset)
                <div class="toolbar-li-menu" id="$v.key" onclick="confirmSelect(this, '$callback')">$v.value</div>
            #end
        </div>
    #end
    #if($text =="input-select")
    </div>
    #else
    </li>
    #end
#end

#macro(treeDraw $children $kv)
<div class="tree-menu-list">
    #foreach($v in $children)
        <div class="tree-menu-item">
            <div class="menu-list-button" onclick="confirmTree(this, '${kv}id', '${kv}name}');"
                 #if($v.children && !$v.leaf)onmouseenter="showTree(this);"#end>
                <span class="button-text" id="$v.nodeID">$v.nodeName</span>
                #if(!$v.leaf)
                    <span class="button-right-arrow"></span>
                #end
            </div>
            #if($v.children)
                #treeDraw($v.children $kv)
            #end
        </div>
    #end
</div>
#end

#macro(tree $treeModel $kv $class $mapping)
    #set($var = $treeModel.size())
    #if($class == "add-off")
    <div class="form-tree-menu" tabindex="0" hidefocus="true" onblur="hideTree('${kv}_tree');">
        <div class="tree-menu-button" onclick="toggleTree(this);">
            请选择
        </div>
    #elseif($class == "add-on")
    <div class="form-input-menu" tabindex="0" hidefocus="true" onblur="hideTree('${kv}_tree');">
        <div class="tree-menu-button icon-tree-left" #if($!var) onclick="toggleTree(this);" #else onclick="initTree(this, '$treeModel', '${kv}');" #end ></div>
    #end
    #if($!treeModel)
        <div class="tree-menu-list" id="${kv}_tree">
            #foreach($v in $treeModel)
                <div class="tree-menu-item" #if($v.children || !$v.leaf)onmouseleave="clearTree(this);"#end>
                    <div class="menu-list-button" onclick="confirmTree(this, '${kv}', '$mapping');"
                        #if($v.children && !$v.leaf)
                         onmouseenter="showTree(this);"
                        #elseif(!$v.leaf)
                         onmouseenter="loadTree(this, '${kv}', '$mapping');"
                        #end>
                        <span class="button-text" id="$v.nodeID">$v.nodeName</span>
                        #if(!$v.leaf)
                            <span class="button-right-arrow"></span>
                        #end
                    </div>
                    #if($v.children)
                        #treeDraw($v.children $kv)
                    #end
                </div>
            #end
        </div>
    #end
    </div>
#end

#macro(pagingGrid $header $formName $target)
    <table class="main-content-table">
        <thead class="table-thead">
        <tr class="table-header">
            <th class="table-cell-nbsp">&nbsp;</th>
            #if($!header.checkbox)
                <th class="table-cell-check" onclick="allCheck(this);">
            <span title="全选" role="checkbox" tabindex="0" class="ipt-chk">
                <span class="ipt-chk-symbol">
                    <b class="ipt-icon ipt-icon-checkbox"></b>
                </span>
            </span>
                </th>
            #end
            #foreach($title in $!header.title)
                <th title="$title.title" class="table-cell-title"
                    #if($title.sort)
                    id="$title.code" onclick="sortGrid(this);"
                    #end
                    #if($title.width)
                    style="width: ${title.width}px"
                    #end>
                    $title.text
                    #if($title.sort)
                        <b class="ipt-icon ipt-icon-sort ipt-icon-sort-up"></b>
                    #end
                </th>
            #end
        </tr>
        </thead>
        <tbody class="table-body"></tbody>
    </table>
    <script type="text/javascript">
        ## 单独选中
        function check(node) {
            var checkbox = $(node).find('span[role="checkbox"]');
            if (checkbox.attr('checked')) {
                checkbox.attr('checked', false);
                checkbox.find('.ipt-icon-checkbox').removeClass('ipt-icon-checkbox-checked');
                return false;
            } else {
                checkbox.attr('checked', true);
                checkbox.find('.ipt-icon-checkbox').addClass('ipt-icon-checkbox-checked');
                return true;
            }
        }
        ## 全选操作
        function allCheck(node) {
            if (check(node))
                $(node).parent().parent().next('.table-body').find('span[role="checkbox"]').find('.ipt-icon-checkbox').addClass('ipt-icon-checkbox-checked');
            else
                $(node).parent().parent().next('.table-body').find('span[role="checkbox"]').find('.ipt-icon-checkbox').removeClass('ipt-icon-checkbox-checked');
        }
        ## 行选操作
        function rowClick(node) {
            check($(node).parent().find('.table-cell-check'));
        }
        ## 获取当前已经选择的行
        function getChecked() {
            return $("#$target").find('.main-content-table').find('.table-body').find('span[role="checkbox"]').find('.ipt-icon-checkbox-checked');
        }
        ## 鼠标悬停效果，显示按钮
        function toggleOper(node) {
            $(node).find('.table-cell-oper').toggle();
        }
        ## 操作列按钮点击事件
        function operation(opt, node) {
            var guid = $(node).parent().parent().parent().find('.ipt-icon-checkbox').attr('name');
            switch (opt) {
                case 'editGrid':
                    editGrid(guid);
                    break;
                case 'deleteGrid':
                    deleteGrid(guid);
                    break;
            }
        }
        ## 分页页面跳转
        function gotoPage(pageIndex) {
            var data = $('#$formName').serializeJson();
            data['currentPage'] = pageIndex;
            load_url($('#$formName').attr("action"), $("#$target").find('.main-content-table').find('.table-body'), {data: data});
        }
        ## 排序查询
        function sortGrid(node) {
            var sort = $(node).find('.ipt-icon-sort');
            var order = sort.hasClass('ipt-icon-sort-down');
            if (order) {
                sort.removeClass('ipt-icon-sort-down');
            } else {
                sort.addClass('ipt-icon-sort-down');
            }
            $('#orderCols').attr('name', 'orderBy[' + node.id + ']').val((!order));
            var data = buildParams();
            load_url($('#$formName').attr("action"), $("#$target").find('.main-content-table').find('.table-body'), {data: data});
        }
        ## 节点点击查询
        function gridSearch(field, text) {
            buildCondition(field, text);
            load();
        }
        ## 构建查询条件
        function buildCondition(field, text) {
            var condition = $('#$formName').find('input[name="' + field + '"]');
            if (condition.length == 0) {
                condition = $('<input type="hidden" name="' + field + '" />');
                $('#$formName').append(condition);
            }
            condition.val(text)
        }
        ## 根据form表单构建参数
        function buildParams() {
            var data = $('#$formName').serializeJson();
            var currentPage = $("#$target").find('.main-content-table').find('.page-toolbar').find('.currentPage');
            if (currentPage.length > 0) {
                data['currentPage'] = currentPage.text();
            }
            return data;
        }
        ## 刷新页面
        function reload() {
            $("#$target").find('.main-content-table').find('.table-thead').find('.ipt-icon-sort-down').removeClass('ipt-icon-sort-down');
            $('#$formName :input').val('');
            load_url($('#$formName').attr("action"), $("#$target").find('.main-content-table').find('.table-body'));
        }
        function load() {
            load_url($('#$formName').attr("action"), $("#$target").find('.main-content-table').find('.table-body'), {data: buildParams()});
        }
        $(function () {
            load_url($('#$formName').attr("action"), $("#$target").find('.main-content-table').find('.table-body'));
        });
    </script>
#end