.frame-head {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    min-width: 960px;
    height: 68px;
    z-index: 25;
    box-shadow: 0 1px 2px 0 RGBA(0, 0, 0, .3);
    background: #3B3A36;
}

.frame-head img {
    margin: 3px 0 0 15px;
}

.frame-head .logo {
    font: italic bold 40px "Minion Pro Med";
    height: 60px;
    line-height: 80px;
    color: white;
    position: absolute;
    margin-left: 5px;
}

.frame-head .account-img {
    position: absolute;
    top: 20px;
    right: 220px;
    color: white;
    font-weight: bold;
    height: 31px;
    width: 31px;
    background: url(../../images/menu/header/user.png) 0 0;
    border-radius: 30px;
}

.frame-head .account {
    position: absolute;
    top: 27px;
    right: 160px;
    color: white;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    height: 20px;
    line-height: 20px;
}

.frame-head .operate {
    position: absolute;
    top: 20px;
    right: 110px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    background: url(../../images/menu/header/gear.png) 0 0;
}

.frame-head .switch {
    position: absolute;
    top: 24px;
    right: 75px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    background: url(../../images/menu/header/system-switch.png) 0 0;
    border-radius: 30px;
}

.frame-head .logout {
    position: absolute;
    top: 24px;
    right: 35px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    background: url(../../images/menu/header/logout.png) 0 0;
}

/* -------------------------------------------------------------header----------------------------------------------------------- */
.frame-navi {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 69px;
    width: 240px;
    box-shadow: 1px 1px 2px 0 RGBA(0, 0, 0, .3);
    background: #E4E4E4;
}

.frame-navi ul {
    white-space: nowrap;
}

.frame-navi li {
    list-style-type: none;
}

.frame-navi .menu-bar-top {
    border-top: 1px white solid;
}

.frame-navi .menu-bar {
    border-left: 1px white solid;
    border-right: 1px white solid;
    border-bottom: 1px white solid;
}

.frame-navi .menu-bar p {
    background: #2D3133;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.frame-navi .menu-button {
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 0 0 1px;
    width: 99%;
    border-top: 1px white solid;
}

.frame-navi .menu-button a {
    display: block;
    text-decoration: none
}

.frame-navi .menu-button a:hover {
    color: #1EB4E6;
}

/* -------------------------------------------------------------navigation----------------------------------------------------------- */
.frame-main {
    position: absolute;
    left: 241px;
    top: 69px;
    right: 0;
    background: #2D3133;
    padding-left: 1px;
    min-width: 718px;
    overflow: hidden;
}