<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<property name="default_pattern" value="%d [%t - %X{traceNo}] %-5level %c{1} - %m%n" />
	<property name="filepath" value="D:/opt/logs/sso/server" /><!-- 本地文件 -->
	<property name="brokerList" value="172.16.192.52:9092" />
	<property name="zfcode" value="SSO-WebSite" />
	<property name="fileName" value="info.log" /><!--远程文件 -->

	<!-- 同步到日志服务器，level>=ERROR -->
	<appender name="RMT" class="ch.qos.logback.core.ConsoleAppender">
		<encoding>UTF-8</encoding>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<!-- 小于level级别的日志会被过滤掉 -->
			<level>ERROR</level>
		</filter>
		<encoder class="com.efesco.logback.mdc.trace.encoder.TraceNoPatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>${default_pattern}</pattern>
			<synchToMDC>true</synchToMDC><!--是否开启远程同步//-->
			<zfcode>${zfcode}</zfcode><!--远程同步参数：项目编号//-->
			<brokerList>${brokerList}</brokerList><!--远程同步参数：zookeeper地址列表，可配置N个//-->
			<fileName>${fileName}</fileName><!--远程同步参数：同步过去的文件名称//-->
		</encoder>
	</appender>

	<!-- 控制台输出 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 只写本地文件，level>=INFO -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${filepath}/log.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<!-- 小于level级别的日志会被过滤掉 -->
			<level>INFO</level>
		</filter>
		<encoder class="com.efesco.logback.mdc.trace.encoder.TraceNoPatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>${default_pattern}</pattern>
			<synchToMDC>false</synchToMDC>
		</encoder>
	</appender>

	<logger name="com.qi" level="INFO"/>
	<logger name="com.apache.ibatis" level="TRACE"/>
	<logger name="java.sql.Connection" level="DEBUG"/>
	<logger name="java.sql.Statement" level="DEBUG"/>
	<logger name="java.sql.PreparedStatement" level="DEBUG"/>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<!--<appender-ref ref="RMT" />-->
	</root>
	
</configuration>